@page "/poetry"
<PageTitle>诗歌音曲</PageTitle>
<div style="margin:10%;"><pre style="text-align:center;font-size:30px;font-family:STKaiti,KaiTi,PMingLiU,DFKai-SB;writing-mode: vertical-rl;">
    <div style="font-size:50px;">《不管前路多远》</div>
       爱哥

    冰消雪融，长夜渐明
    逆境中总有人努力前行
    不管前路多远，我们都将心手相牵并肩前行
    在未完的书页上续写着属于我们的诗篇
    </pre></div>
@code {

}
