@page "/shuffle"
<PageTitle>中爱病今天看什么</PageTitle>
<h3>中爱病今天看什么</h3>

@code {

}
<iframe src="//player.bilibili.com/player.html?aid=550556423&bvid=BV1Uq4y1w7qr&cid=482793177&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>